*{
  padding: 0;
  margin: 0;
}

table{
  margin: 50px auto;
  width: 500px;
  height: 541px;
  border-collapse: collapse;
  border-style: hidden;
}

tr, td{
  border: 10px solid #242a26;
}

.white{
  background-color: #fff;
}

.yellow{
  background-color: #fff161;
}

.orange{
  background-color: #ff5a30;
}

.black{
  background:rgb(36,42,38);
}

.blue{
  background-color: #084684;
}

table tr:first-child{
  height: 52px;
}

table tr:nth-of-type(2){
  height: 137px;
}

table tr:nth-of-type(3){
height: 137px;
}

table tr:nth-of-type(4){
  height: 67px;
}

table tr:nth-of-type(5){
  height: 67px;
}

table tr:nth-of-type(6){
  height: 37px;
}

table tr:nth-of-type(1) td:nth-of-type(1){
  width: 24%;
}

table tr:nth-of-type(2) td:nth-of-type(1){
  width: 12%;
}

table tr:nth-of-type(1) td:nth-of-type(2){
  width: 42%;
}

table tr:nth-of-type(3) td:nth-of-type(2){
  width: 17%;
}

table tr:nth-of-type(4) td:nth-of-type(2){
  width: 28%;
}